<br/>
<div class="justify-content-center" style="display:grid">
  <h1 text-align="center">new manga</h1>
</div>

<%= render "form", manga: @manga %>

<div class="mb-3 justify-content-center" style="display:grid">
  <%= link_to "back", mangas_path, class:"btn btn-dark" %>
</div>
