<br/>
<div class="justify-content-center" style="display:grid">
  <h1>new volume</h1>
</div>
<%= render "form", volume: @volume, class:"form-select col align-self-center" %>
<br/>
<div class="mb-3 justify-content-center" style="display:grid">
  <%= link_to "back", volumes_path, class:"btn btn-dark" %>
</div>
